<alert type="success">test alert</alert>


<div class="row" *ngFor="let member of members" [style.background-color]="i%2 == 0 ? '#dddddd' : 'inherit'">
  <div class="col-sm-8">
    <h4 [style.color]="'maroon'">{{member.name}} {{member.surname}}</h4>
  </div>
  <div class="col-sm-4" style="margin-top: 5px;">
    <div class="pull-right">
      <button class="btn btn-warning btn-sm" (click)="edit(member)">
Edit
</button>
      <button class="btn btn-danger btn-sm" (click)="delete(member)">
Delete
</button>
    </div>
  </div>
</div>


