<form *ngIf="!submitted" novalidate (ngSubmit)="addMember()" #memberForm="ngForm">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control input-lg" type="text" [(ngModel)]="member.name" name="name" id="name" required/>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label for="surname">Surname</label>
        <input class="form-control input-lg" type="text" [(ngModel)]="member.surname" name="surname" id="surname" required />
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control input-lg" type="text" [(ngModel)]="member.address" name="address" id="address" required />
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <div class="form-group">
        <label for="birthdate">Date of birth</label>
        <input class="form-control input-lg" type="text" [(ngModel)]="member.birthdate" name="birthdate" id="birthdate" required/>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="gender">Gender</label>
        <div *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" [(ngModel)]="member.gender" [value]="gender.value">
            {{gender.display}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="memberForm.invalid">
    Submit
  </button>
</form>

<div *ngIf="submitted">
<h2>The form has been submitted with this data:</h2>
<pre>{{member | json}}</pre>
</div>